#FirstServlet
Servlets/FirstServlet/build/
Servlets/FirstServlet/dist/
Servlets/FirstServlet/nbproject/
Servlets/FirstServlet/build.xml

#HW_Servlet_Image
Servlets/HW_Servlet_Image/build/
Servlets/HW_Servlet_Image/dist/
Servlets/HW_Servlet_Image/nbproject/
Servlets/HW_Servlet_Image/build.xml

#HW_Servlet_Calculator
Servlets/HW_Servlet_Calculator/build/
Servlets/HW_Servlet_Calculator/dist/
Servlets/HW_Servlet_Calculator/nbproject/
Servlets/HW_Servlet_Calculator/build.xml

#HW_Servlet_HTTP_codes
Servlets/HW_Servlet_HTTP_codes/build/
Servlets/HW_Servlet_HTTP_codes/dist/
Servlets/HW_Servlet_HTTP_codes/nbproject/
Servlets/HW_Servlet_HTTP_codes/build.xml
